body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}
.container {
  text-align: center;
}
button {
  background: black;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}
#result {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.block {
  width: 60px;
  height: 60px;
  background: #1d2dda;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
