body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
  text-align: center;
  transform: scale(2);
}
input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
}
#result {
  margin-top: 15px;
  font-weight: bold;
}
